@use "../abstracts/" as *;

.container {
    --padding: #{$container-inline-margin} * 2;
    --max-width: #{$container-max-width};

    width: min(100% - var(--padding), var(--max-width));
    margin-inline: auto;

    &[data-layout="narrow"] {
        --max-width: #{$container-max-width-sm};
    }
    &[data-layout="wide"] {
        --max-width: #{$container-max-width-xl};
    }
    &[data-layout="full"] {
        width: 100%;
    }
}
