@use "sass:map";
@use "../abstracts" as *;

// @each $weight-name, $weight-value in $font-weights {
//     .fw-#{$weight-name} {
//         font-weight: $weight-value;
//     }
// }

.fw-regular {
    font-weight: $font-weight-default;
}
.fw-semi-bold {
    font-weight: $font-weight-semi-bold;
}
.fw-bold {
    font-weight: $font-weight-bold;
}
